<div id="content">
  <div id="welcome-sign">
    
      <div id="home-logo">
        <img src="https://thumbor-static.factorymedia.com/LQ22A7NwmJIbHh4ochpAGXIwol8=/200x200/smart/http%3A%2F%2Fcoresites-cdn.factorymedia.com%2Frideukbmx_new%2Fwp-content%2Fuploads%2F2014%2F07%2Fwtp.jpg"
          height=100 width=100 />
      </div>
      <div id="welcome">
          <div id="title-text">
            Welcome to MCD 
          </div>
          
          <div id="subtitle-text">
            Your home for multi criteria decisions
          </div>
      </div>
 </div>
 
 <div id="buttons">
   <%= link_to "View MCD", '#', class: "buttons btn btn-lg btn-primary" %>
   <%= link_to "Create MCD!", '#', class: "buttons btn btn-lg btn-primary" %>
 </div>
</div>
  