<div class="row content">
    <div class="col-sm-4 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
</div>
  
  
  <div id="content">
  <div id="welcome-sign">
    
      <div id="home-logo">
        <img src="https://thumbor-static.factorymedia.com/LQ22A7NwmJIbHh4ochpAGXIwol8=/200x200/smart/http%3A%2F%2Fcoresites-cdn.factorymedia.com%2Frideukbmx_new%2Fwp-content%2Fuploads%2F2014%2F07%2Fwtp.jpg"
          height=100 width=100 />
      </div>
      <div id="welcome">
          <div id="title-text">
            Welcome to MCD 
          </div>
          
          <div id="subtitle-text">
            Your home for multi criteria decisions
          </div>
      </div>
 </div>
 
 <div id="buttons">
   <%= link_to "View MCD", '#', class: "buttons btn btn-lg btn-primary" %>
   <%= link_to "Create MCD!", '#', class: "buttons btn btn-lg btn-primary" %>
 </div>
</div>
  