<div class="jumbotron">
  <img src="https://thumbor-static.factorymedia.com/LQ22A7NwmJIbHh4ochpAGXIwol8=/200x200/smart/http%3A%2F%2Fcoresites-cdn.factorymedia.com%2Frideukbmx_new%2Fwp-content%2Fuploads%2F2014%2F07%2Fwtp.jpg"
      height=100 width=100 />
  <div id="title-text" class="text-left">
        <h2>Welcome to MCD </h2>
  </div>
      
  <div id="subtitle-text" class="text-right">
        <p>Your home for multi criteria decisions</p>
  </div>
</div>
<div id="buttons">
   <%= link_to "View MCD", problems_path, class: "buttons btn btn-lg btn-primary", id: "btnViewMCD" %>
   <%= link_to "Create MCD!", new_problem_path, class: "buttons btn btn-lg btn-primary" %>
</div>