
<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Create an MCD</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>
<%= render 'form' %>

