<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Define Alternatives</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>


<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-8 text-centre">
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-2 text-centre">
      <a href="#" class="btn btn-danger btn-lg" style="border-radius: 50%">
          <span class="glyphicon glyphicon-minus" ></span>
      </a>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>


<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-8 text-centre">
    <input type="text" class="form-control" id="textalt">
  </div>
  <div class="col-sm-2 text-centre">
      <a href="#" class="btn btn-success btn-lg" style="border-radius: 50%">
          <span class="glyphicon glyphicon-plus" ></span>
      </a>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>
