<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Define Criteria</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row" id="row-input">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-8 text-centre">
    <input type="text" class="form-control" id="textcrit" placeholder="Enter new criterion here..">
  </div>
  <div class="col-sm-2 text-centre">
      <div class="btn btn-success btn-lg" id="add-criterion" style="border-radius: 50%">
          <span class="glyphicon glyphicon-plus" ></span>
      </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-8 text-centre" id="xyu">
    <div class="form-group">
          <textarea class="form-control" rows="2" id="description" placeholder="Enter description of criterion here..."></textarea>
        </div>
  </div>
  <div class="col-sm-2 text-centre">
       
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>