<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Create an MCD</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-4 text-centre label-area">
    <p>Title</p>
  </div>
  <div class="col-sm-6 text-centre">
    <input type="text" class="form-control" id="mcd">
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-4 text-centre label-area">
    <p>Description</p>
  </div>
  <div class="col-sm-6 text-centre">
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row" id="row-dropdown">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-4 text-centre label-area">
    <p>Select method</p>
  </div>
  <div class="col-sm-6 text-centre">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
    </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-4 text-centre label-area">
    <p>Comments</p>
  </div>
  <div class="col-sm-6 text-centre">
    <label class="radio-inline"><input type="radio" name="optradio">Optional</label>
    <label class="radio-inline"><input type="radio" name="optradio">Obligatory</label>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>