 

<div id="createCrit">
<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Define Criteria</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row" id="row-input-crit">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-8 text-centre">
    <%#= f.text_field :title %>
    
    <input type="text" class="form-control" id="criterion_title" name="criterion[title]" placeholder="Enter new criterion here..">
    
  </div>
  <div class="col-sm-2 text-centre">
      <div class="btn btn-success btn-lg" id="add-criterion" style="border-radius: 50%">
          <span class="glyphicon glyphicon-plus" ></span>
      </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-9 text-centre">
    <div class="form-group">
          <%#= f.text_area :description %>
          
          <textarea class="form-control" rows="2" id="criterion_description" name="criterion[description]" placeholder="Enter description of criterion here..."></textarea>
          
        </div>
  </div>
  <div class="col-sm-1 text-centre">
       
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-4 text-centre label-area">
    <%#= f.label :priority %>
    <label for="criterion_priority">Priority</label>
  </div>
  <div class="col-sm-6 text-centre">
    <%#= f.number_field :priority %>
    <input id="criterion_priority" type="number" name="criterion[priority]">
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>


  
  <div class="row">
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-danger" id="btnBackToAlternatives">Back</div>
      </div>
      <div class="col-sm-4 text-centre">
        <p></p>
      </div>
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-success" id="btnToOverview">
          Next
        </div>
      </div>
</div>
  
</div>

