

<div id="createAlt">
  <div class="row">
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
      <div class="col-sm-10 text-centre label-area">
        <p>Define Alternatives</p>
      </div>
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
</div>

<div class="row" id="row-input">
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
      <div class="col-sm-8 text-centre">
        <%#<%= f.text_field :title %>
        <input id="alternative_title" type="text" class="form-control" name="alternative[title]" placeholder="Enter new alternative here..">
      </div>
      <div class="col-sm-2 text-centre">
          <div href="#" class="btn btn-success btn-lg" id="add-alternative" style="border-radius: 50%">
              <span class="glyphicon glyphicon-plus" ></span>
          </div>
      </div>
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
</div>

<div class="row">
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
      <div class="col-sm-9 text-centre">
        <div class="form-group">
              <%#= f.text_area :description %>
              <textarea class="form-control" rows="2" id="alternative_description" name="alternative[description]" placeholder="Enter description of alternative here..."></textarea>
            </div>
      </div>
      <div class="col-sm-1 text-centre">
           
      </div>
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
</div>
  
  <div class="row">
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-danger" id="btnBackToProblem">Back</div>
      </div>
      <div class="col-sm-4 text-centre">
        <p></p>
      </div>
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-success" id="btnToCriteria">
          Next
        </div>
      </div>
</div>
  
</div>


<%# end %>
  