// Place all the styles related to the MCDCreating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label-area {
  background-color: #c238eb;
  border: 1px solid pink;
  border-radius: 4px;
  color: #FAFAFA;
  p {
    display: inline-block;
    float: none;  
    margin: 8px;
    font-weight: bold;
  }
}

#row-dropdown {
  margin-top: 40px;
}

#row-input .col-sm-1 {
  padding-bottom: 36px;
}

#textcrit {
  height:46px;
  border: 1px solid #629c44;
  border-radius: 3px;
  background-color: #aedd94;
}

.titleCrit {
  height:46px;
  margin-left: -2px;
  margin-right: -2px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #5cb85c;
  font-size: 16px;
  padding-top: 14px;
}

#textalt {
  height:46px;
  border: 1px solid #d68227;
  border-radius: 3px;
  background-color: #ffd8ad;
}